
*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    max-width: 900px;
    margin: 0 auto; 
    
  }

.text, header{
    text-align: center;
    padding:20px 0px;
  }

  h2{
    font-family: anton;
    font-size: 40px;
    color: #ff008c
  }


main{
    padding-top: 50px;
}

.row1 {
    width: 280px;
    background-color: #2e0268;
    color: white;
    float: left;
    margin-right: 1%;
} 


img{
    float: left;
    width: 100px;
    margin-right: 10px;
}

h3{
   font-family: Anton;
}

.text-box{
    padding-top: 5px;
    line-height: 20px;
    font-size:15px;
}

.adress{
    color: #008cff;
}

.section2{
    margin-top: 15px;
}










